<component name="ArtifactManager">
  <artifact type="apk" build-on-make="true" name="app">
    <output-path>$USER_HOME$/Desktop</output-path>
    <properties id="android-properties">
      <options>
        <option name="keyStoreUrl" value="file://" />
        <option name="proGuardCfgFiles">
          <list>
            <option value="file://%MODULE_SDK_HOME%/tools/proguard/proguard-android.txt" />
          </list>
        </option>
        <option name="signingMode" value="DEBUG" />
      </options>
    </properties>
    <root id="archive" name="app.apk">
      <element id="android-final-package" facet="app/android/Android" />
    </root>
  </artifact>
</component>